  body{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    fieldset{
     background-color: rgb(247, 247, 125);
      padding: 10px 20px;
      width: 300px;
    }
    form{
        display: inline-block;
    }
    label
    {
        display: inline-block;
    }
    
      button {
      margin-top: 10px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }